<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:orientation="horizontal"
    android:id="@+id/app_primary_target"
    android:padding="5dp">
    <LinearLayout
        android:id="@+id/appThumbnail"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:padding="2dp"
        android:layout_alignParentLeft="true"
        android:layout_marginRight="5dip">
        <ImageView
            android:id="@+id/app_Icon"
            android:layout_width="60dp"
            android:layout_height="60dp"
            android:src="@drawable/icon" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignTop="@+id/appThumbnail"
        android:layout_toRightOf="@+id/appThumbnail"
        android:id="@+id/appDetails">
        <TextView
            android:id="@+id/app_Name"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignTop="@+id/appThumbnail"
            android:layout_toRightOf="@+id/appThumbnail"
            android:textColor="#040404"
            android:typeface="sans"
            android:textStyle="bold"
            android:layout_marginTop="3dp" />
    <!-- Artist Name -->
        <TextView
            android:id="@+id/app_Desc"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_below="@id/app_Name"
            android:textColor="#343434"
            android:textSize="10dip"
            android:layout_marginTop="1dip" />
        <TextView
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:textColor="#343434"
            android:id="@+id/app_Platform"
            android:layout_marginTop="3dp" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:id="@+id/L2"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignParentRight="true"
        android:layout_weight="0.2">
        <Button
            android:text="Download"
            android:layout_width="100dp"
            android:background="@drawable/download_button_selector"
            android:layout_height="30dp"
            android:layout_gravity="right"
            android:id="@+id/downloadBtn"
            android:focusable="false"
            android:textSize="10dp"
            android:textColor="@android:color/white"
            android:paddingRight="15dp"
            android:paddingLeft="15dp"
            android:drawableLeft="@drawable/icon_download" />
        <RatingBar
            android:id="@+id/myRatingBar"
            style="?android:attr/ratingBarStyleSmall"
            android:layout_alignParentRight="true"
            android:layout_alignTop="@id/app_Platform"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:gravity="right"
            android:numStars="5"
            android:rating="3"
            android:layout_gravity="right"
            android:layout_marginTop="10dp" />
    </LinearLayout>
</RelativeLayout>